<div class="wrap boxed edit-view">

    <label for="date">Date</label><input ng-model="example.value" ng-change="changedDate(example.value)" value="05-05-2000" type="date" id="date" md-placeholder="Enter date"></input><br>
    <label>Store id</label><input ng-model="exhibit.title" type="text">
    <select ng-model="exhibit.store" ng-options="item as item.name for item in stores track by item.name" ng-change="changedValue(exhibit.store)" ><option value="item.id"></option></select>
    <hr>

    <div ng-repeat="piece in exhibit.content">

      <!--<input type="number" name="search-1" class="search-1" id="search-1" readonly="true" >-->
      <canvas id="barcode_image" style="display:none;"></canvas>
      				<p id="error_scan"></p>
              <div ng-app ng-controller="ListCtrl">
        <label for="shoot">Scan:</label>
        <input class="shoot" type="file" accept="image/*;capture=camera" onclick="angular.element(this).scope().scanImage()" /><br>
        </div>
        <!-- HIDDEN IMG.. change when scan-->
        <img ng-src="assets\img\Lambi-talouspaperi-3rl.jpg" alt="Lambi_k" id="lambik" style="display:none; width:100px;"/>
        <img ng-src="assets\img\Lambi-wc-paperi-6rl.jpg" alt="Lambi_wc" id="lambiwc" style="display:none; width:100px;"/>
        <img ng-src="assets\img\Serla-wc-paperi-12rl.jpg" alt="serla_WC" id="serlawc" style="display:none; width:100px;"/>
        <img ng-src="assets\img\Pirkka-NIKSI-wc-paperi-6rl.jpg" alt="pirkka_WC" id="pirkkawc" style="display:none; width:100px;"/>
        <img ng-src="assets\img\lotus-Luonnonystävän-wc-paperi-8rl.jpg" alt="serla_WC" id="lotuswc" style="display:none; width:100px;"/>
        <img ng-src="assets\img\Lotus-Emilia-4rl.jpg" alt="Lambi_wc" id="Lotus-Emilia" style="display:none; width:100px;"/>


        <img ng-src="assets\img\{{piece.title}}.jpg" alt="Scanned image"  style="width:100px;" id="imggg"/><br>

        <input type="number" name="cal" ng-model="piece.cal" style="display:none;">
        <label>Product name:</label><input ng-model="piece.title" type="text"  id="Pname" name="Pname"><br>
        <label>Ammount of products:</label><input type="number" name="calculation" ng-model="piece.Ahuzim">
        <br>
        <label>Shelf ID:</label><input type="number" name="shelfId" ng-model="piece.shelf">      <br>
        <button ng-click="deletePiece(piece.temp_id)">Delete this product</button>

        <hr>

    </div>

    <div class="manage">

        <button ng-click="addPiece()">Add another product</button>

        <br>

        <!--<label>Upload video from Youtube channel</label><select ng-model="newYoutubeLink" ng-change="newYoutubePiece(newYoutubeLink)">
            <option ng-repeat="(videoIdx, video) in youtubeVideos"
                    value="{{videoIdx}}"
                    ng-if="video.id.kind == 'youtube#video'">
                {{video.snippet.title}}
            </option>
        </select><br>
        <label>Get piece from audio resources </label><select ng-model="newAudioFile" ng-change="newAudioPiece(newAudioFile)">
            <option ng-repeat="(resourceIdx, resource) in audioResources"
                    value="{{resourceIdx}}">
                {{resource[0]['Title']}}
            </option>
        </select>-->

        <hr>

         <p ng-if="exhibit._id"><a ui-sref="view({id: exhibit._id})">Preview public view</a> |  <a ui-sref="list">Back to store listing</a></p>
        <button ng-if="!new" ng-click="saveExhibit()">Save</button>
        <button ng-if="new" ng-click="newExhibit()">Save</button>
        <p>{{statusMessage}}</p>

    </div>

</div>
