<div class="wrap boxed view-view">

    <h1>{{exhibit.title}} {{exhibit.store}} </h1>

    <div ng-repeat="piece in exhibit.content">
      <table>
        <tr>
          <th>Product name:</th>
          <td>{{piece.title}}</td>
        </tr><tr>
          <th>Shelf percentage:</th>
          <td>
            {{piece.Ahuzim}}%</td>
        </tr>
      </table>
      <br> <img ng-src="assets/img/{{piece.empty}}.jpg" alt="img" style="width:100px;"/>
        <hr>



    </div>

</div>

<footer class="wrap"> <a ui-sref="list">Back to store listing</a></footer>
