<div class="top-bar">
               <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text"><img  class="menu-logo" src="assets/img/micon.png" /></li>


                </ul>
               </div>
                <div class="top-bar-right">

               </div>

           </div>
    <div class="row">

  <div class="small-9 columns" style="margin-left:60px;">
  <div class="callout success">
    <h2 class="text-center">{{exhibit.myDate}} {{exhibit.title}} {{exhibit.store}} </h2>

    <div ng-repeat="piece in exhibit.content" class="item-list">
      <table>
        <tr>
          <th>Product name:</th>
          <td>{{piece.title}}</td>
        </tr><tr>
          <th>Shelf percentage:</th>
          <td>
            {{piece.cal}}%</td>
        </tr>
        <tr>
          <th>Shelf ID:</th>
          <td>
            {{piece.shelf}}</td>
      </table>
      <br> <img ng-if="piece.title" ng-src="assets/img/{{piece.title}}.jpg" alt="img" style="width:100px;"/>
        <hr>


</div>
    </div>
	<div style="padding-right:30px; float:right;">
<a class="button expanded" ui-sref="list">Back to store listing</a>
</div>
	</div>
	</div>

<div class="footer"><br><b>&copy; Copyright MetsaTissue 2016</b></div>
