<div class="wrap boxed view-view">

    <h1>{{exhibit.store}}{{exhibit.title}}</h1>

    <div ng-repeat="piece in exhibit.content" class="piece-wrap piece-type-{{piece.type}}" ng-class="{translation : piece.language}">
        <hr>
        <a ui-sref="single({id: exhibit._id, cid: piece._id})" class="flag-wrap"><img ng-if="piece.language" class="flag" ng-src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.0.0/flags/1x1/{{piece.language | lowercase}}.svg"></a>
        <h2>{{piece.title}}</h2>

        <p class="file" ng-if="(piece.type != 1 || piece.language=='') && piece.type != 4">
            <span ng-if="piece.medium=='pic'">
                <img ng-src="{{piece.src}}">
            </span>
            <span ng-if="piece.medium=='vid'">
                <video controls ng-src="{{piece.src}}"></video>
            </span>
            <span ng-if="piece.medium=='noiz'">
              <audio controls ng-src={{piece.src}} type="audio/mpeg"></audio>
            </span>
            <a ng-if="piece.medium=='link'" href="{{piece.src}}">{{piece.url}}</a>
        </p>
        <div ng-if="piece.type == 4" class="youtube" ng-attr-id="{{'vid'+piece._id}}" data-video="{{piece.url}}"></div>
        <p ng-if="piece.type != 1 || piece.language==''">{{piece.description}}</p>

    </div>

</div>

<footer class="wrap"><a href="/qr">QR reader</a> | <a ui-sref="list">Back to listing</a></footer>
