/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}


/* CUSTOM COSMETICS HERE */

body{
    font-family:'Quattrocento Sans', Arial, sans-serif;
}

p{
    margin:1em 0;
    line-height:1.3em;
}

h1, h2, h3, h4{
    margin:1.2em 0 1em;
    font-weight:700;
}

h1{ font-size:2em; }
h2{ font-size:1.3em; }
h3{ font-size:1.1em; }

header{
    background-color:ghostwhite;
}

img{
    max-width:100%;
}

video{
	width:100%;
}

hr{
    margin:1.5em 0;
    height:0;
    border-top:1px dotted grey;
    border-bottom:0;
}

label{
    vertical-align:middle;
    display:inline-block;
    width:11em;
    margin-bottom:0.5em;
}

input, select, button{
    vertical-align:middle;
    margin-bottom:0.5em;
}

textarea{
    width:100%;
}

.wrap{
    overflow:hidden;
    position:relative;
    margin:0 auto;
    padding:2em 1em;
}

.boxed{
    max-width:960px;
}

.list-item{
    line-height:1.5em;
    padding:0.5em;
    clear:both;
}

.list-item:nth-child(odd){
    background-color:ghostwhite;
}

.piece-wrap{
    float:left;
}

.piece-type-1.translation{
    width:50%;
}

.piece-type-2, .piece-type-3, .piece-type-4{
    width:100%;
}

.flag + h1, .flag-wrap + h2{
    display: inline-block;
}

.flag{
    height:2em;
    vertical-align:middle;
    margin-right:1em;
    margin-bottom:0.8em;
}

.piece-type-1 .flag{
    width:80%;
    height:auto;
    margin:0 10%;
    border-radius:50%;
}

#qr-canvas{
    max-width:100%;
}

.icon{
    width: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
    border-radius: 50%;
}

footer{
    text-align: center;
    font-size: 20px;
}

#qrcode{
    text-align: center;
}

.titel-center{
    text-align: center;
}

.video-id-description{
        color: red;
}

button{
    border:0;
    background-color:#dde;
    padding:0.5em 1em;
}